admin-tools==0.1
aiofiles==23.2.1
aiosqlite==0.19.0
amqp==5.2.0
anyio==4.0.0
arrow==1.3.0
asgiref==3.7.2
async-timeout==4.0.3
billiard==4.2.0
bootstrap3-datetime==2.4
celery==5.3.5
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.0
crispy-bootstrap3==2022.1
crispy-bootstrap4==2023.1
cycler==0.12.1
Dajax==1.3
dashboard==0.0.6
databases==0.8.0
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.7
django-activelink==1.0
django-bower==5.2.0
django-cache-machine==1.2.0
django-cache-utils==0.7.2
django-cors-headers==4.3.1
django-countries==7.5.1
django-country-dialcode==0.6.3
django-crispy-forms==2.1
django-dajaxice==0.7
django-debug-toolbar==4.2.0
django-extensions==3.2.3
django-frontend-notification==1.0.4
django-import-export==3.3.3
django-lets-go==2.9.6
django-model-utils==4.3.1
django-notifications-hq==1.0
django-nvd3==0.0.4
django-pagination==1.0.7
django-pgcrypto-fields==2.6.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
empyrical==0.5.5
et-xmlfile==1.1.0
exceptiongroup==1.1.3
fonttools==4.44.3
greenlet==3.0.1
h11==0.14.0
idna==3.4
Jinja2==3.1.2
jsonfield==3.1.0
kiwisolver==1.4.5
kombu==5.3.4
linaro-django-pagination==2.0.3
linechart==1.10.0
lxml==4.9.3
MarkupPy==1.14
MarkupSafe==2.1.3
matplotlib==3.8.1
Menu==3.2.2
notification==0.2.1
numpy==1.26.2
odfpy==1.4.1
openpyxl==3.1.2
orm==0.2.0.dev1
packaging==23.2
pandas==1.5.3
pandas-datareader==0.10.0
Pillow==10.1.0
postgres==4.0
prompt-toolkit==3.0.41
psycopg2==2.9.9
psycopg2-binary==2.9.9
psycopg2-pool==1.1
pymemcache==4.0.0
pyparsing==3.1.1
pyrustic==0.1.15
python-dateutil==2.8.2
python-multipart==0.0.6
python-nvd3==0.2.1
pytz==2023.3.post1
PyYAML==6.0.1
quantrocket-client==2.9.0.1
redis==5.0.1
requests==2.31.0
scipy==1.11.3
seaborn==0.12.2
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.50
sqlparse==0.4.4
starlette==0.32.0.post1
tablib==3.5.0
theming==0.0.1
types-python-dateutil==2.8.19.14
typesystem==0.3.0.dev0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
uvicorn==0.24.0.post1
vine==5.1.0
wcwidth==0.2.10
xlrd==2.0.1
xlwt==1.3.0
